html, body {
    height: 100%;
}
body {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/bg-page.svg');
    background-size: cover;
    color: rgb(20, 20, 40);
    font-size: 30px
}
h1 {
    font-size: 20rem;
}
p {
    font-size: 10rem;
}
a {
    color: rgb(60, 60, 80);
}
.container {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    width: auto;
    padding: 10rem;
    background-color: rgba(255,255,255,.8);
}
.item {
    text-align: center;
}

@media (max-width: 575px) {
    body {
        
    }
}

@media (max-width: 767px) {
    body {
        
    }
}

@media (max-width: 991px) {
    body {
        font-size: 16px
    }
    li {
        display: inline-block;
        margin-right: 10px;
    }
    li + li {
        padding: 10px;
        border-left: 1px solid rgb(60, 60, 80);
    }
}
@media (max-width: 1199px) {

}