html, body {
    height: 100%;
}
body {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #98c94b;
    color: rgb(20, 20, 40);
    font-size: 30px
}
img.logomark {
    margin: 0 auto 20px;
    display: block;
}
h1 {
    font-size: 2em;
}
p, li {
    font-size: 1em;
}
a {
    color: rgb(60, 60, 80);
}
ul , li {
    list-style: none;
    padding-left: 0;
}
li {
    display: block;
    margin-right: 0px;
    text-align: left;
}
li + li {
    padding-left: 0px;
    border-left: none;
}
.container {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    width: auto;
    padding: 10rem;
    background-color: rgba(255,255,255,.8);
}
.item {
    text-align: center;
}

@media (max-width: 991px) {
    body {

    }
}

@media (min-width: 992px) {
    body {
        font-size: 16px
    }
    li {
        display: inline-block;
        margin-right: 1.5rem;
    }
    li + li {
        padding-left: 11px;
        border-left: 1px solid rgb(60, 60, 80);
        margin-top: 1.5rem; 
    }
}
@media (min-width: 1200px) {

}